/* Load my own Font */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoMonoNerdFont-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-display: block;
}

/* use the font */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}

/* Styling Variables */
:root {
  --black_background: #0C131F;
  --item_blue: #2195fa;
  --pale_yellow: #ecf0c1e6;
}

body {
	background-color: var(--black_background);
}

/* Clock Styling */
.clock {
	display: flex;
	flex-direction: column;
	line-height: 0.1;
	text-align: center;
    padding: 90px 0px;
}

.clock p {
	font-size: 75px;
	color: var(--item_blue);
}


/* List Styling */
@media all and (max-width:550px) {
	.clock
	{
		visibility: hidden;
		margin: auto;
	}
	.list {
		flex-direction: column;
		width: auto;
	}
}


/* List Holder Styling */
#lists {
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;
	justify-content: center;
}

.list {
    flex: 1;
	flex-direction: column;
	/* padding: 50px; */
    /* text-align: center; */
}

/* TODO iterate through color assignment */
.list:nth-child(1) .list_title {
    color: #7739E3;
}

.list:nth-child(2) .list_title {
    color: #22AB76;
}

.list:nth-child(3) .list_title {
    color: #CF342B;
}

.list:nth-child(4) .list_title {
    color: #00a3cc;
}

/* List: Link Element Styling */
.list_item:visited, .list_item:link, .list_item:active {
    color: var(--pale_yellow);
    text-decoration: none;
    text-indent: 2px;
    line-height: 1.5;
}

.list_item:hover {
    color: var(--item_blue);
}

.dropdown-toggle::after {
  display: inline-block;
  width: .3em;
  height: .3em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .15em .15em 0;
  transform: rotateZ(45deg)
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin: auto;
}

.dropdown-item {
  position: relative;
  display: flex;
  /* left: -40%; */
}

.expanded {
    display: block;
}
